{% extends 'base.html' %}
{% load static %}
{% block main %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{article.cover.url}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>{{article.title}}</h1>
                            <span class="subheading">{{article.publish}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        {{article.content | linebreaks}}
                        <hr>
                        {% for cat in  article.category.all %}
                                <a href="#">#{{ cat }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </article>
{% endblock %}
